$orange: #ff8b38;
$form__title: #333333;
$form__title_bg: #f5f5f5;
$form__input_border: #d6d6d6;
$form__input_ph: #bdbdbd;
$social__desc: #86878b;
$social__icon: #cccccc;
$tab__bg: #f5f5f5;
$sub-list__title: #212121;
$stylish: #9a9a9a;
